<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <!-- <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> -->
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100"
                src="https://media.discordapp.net/attachments/748375075706634243/806443248540844032/shop.jpg" width="800" height="300"
                alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100"
                src="https://media.discordapp.net/attachments/748375075706634243/806443258452508672/shop3.jpg?width=853&height=480" width="800" height="300"
                alt="Second slide">
        </div>
        <!-- <div class="carousel-item">
            <img class="d-block w-100"
                src="https://media.discordapp.net/attachments/748375075706634243/806443260071247912/shop4.png"
                alt="Third slide"> -->
        <!-- </div> -->
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
<br><br>
</div>
<div class="Infohomepage">
    <h2>
        ระบบซื้อ-ขายสินค้าออนไลน์ผ่านสหกรณ์ของเรา
    </h2>
    <p>
        เนื่องจากสถานการณ์โควิด อีกทั้งปัญหาความยากจนในชุมชน ทำให้ร่วมใจกันจัดตั้งสหกรณ์ร้านค้าชุมชนขึ้นมาเพื่อที่จะเป็นรายได้เสริม
        ในการหาเลี้ยงครอบครัว ทางสหกรณ์ของเราจึงได้จัดทำระบบสหกรณืออนไลน์นี้ขึ้นมา เพื่อช่วยเป็นอีกหนึ่งช่องทางในการขายของให้กับพ่อค้าแม่ค้า
        ที่ต้องการขายสินค้าที่มีราคาเป็นกลางให้กับลูกค้า
    </p>
    <span>
        หลักการของสหกรณ์
    </span><br>
    <span>1. การเปิดรับสมาชิกทั่วไป และด้วยความสมัครใจ</span>
    <p>สหกรณ์เป็นองค์การแห่งความสมัครใจที่เปิดรับบุคคลทั้งหลายที่สามารถใช้บริการของสหกรณ์ และเต็มใจรับผิดชอบในฐานะสมาชิก 
        เข้าเป็นสมาชิกโดยปราศจากการกีดกันทางเพศ สังคม เชื้อชาติ การเมือง หรือศาสนา</p>
	<span>2. การควบคุมโดยสมาชิกตามหลักประชาธิปไตย</span>
    <p>สหกรณ์เป็นองค์การประชาธิปไตย ที่ควบคุมโดยมวลสมาชิก ผู้มีส่วนร่วมอย่างแข็งขันในการกำหนดนโยบายและการตัดสินใจ 
    บุรุษและสตรีผู้ที่ได้รับเลือกให้เป็นผู้แทนสมาชิก ต้องรับผิดชอบต่อมวลสมาชิกในสหกรณ์ขั้นปฐม สมาชิกมีสิทธิในการออกเสียงเท่าเทียมกัน 
    (สมาชิกหนึ่งคนหนึ่งเสียง) สำหรับสหกรณ์ในระดับอื่นให้ดำเนินไปตามแนวทางประชาธิปไตยด้วยเช่นกัน</p>
	<span>3. การมีส่วนร่วมทางเศรษฐกิจโดยสมาชิก</span>
    <p>สมาชิกสหกรณ์พึงมีความเที่ยงธรรมในการให้ และควบคุมการใช้เงินทุนในสหกรณ์ตามแนวทางประชาธิปไตย 
        ทุนของสหกรณ์อย่างน้อยส่วนหนึ่งต้องเป็นทรัพย์สินส่วนรวมของสหกรณ์ สมาชิกจะได้รับผลตอบแทนสำหรับเงินทุนตามเงื่อนไข
        แห่งสมาชิกภาพในอัตราที่จำกัด (ถ้ามี) มวลสมาชิกเป็นผู้จัดสรรผลประโยชน์ส่วนเกินเพื่อจุดมุ่งหมายประการใดประการหนึ่ง
        หรือทั้งหมดดังต่อไปนี้</p>
    <p>3.1 เพื่อการพัฒนาสหกรณ์ของตน โดยจัดให้เป็นทุนของสหกรณ์ซึ่งส่วนหนึ่งของทุนนี้ ต้องไม่นำมาแบ่งปันกัน</p>
    <p>3.2 เพื่อเป็นผลประโยชน์แก่สมาชิกตามส่วนของปริมาณธุรกิจที่ทำกับสหกรณ์ และเพื่อสนับสนุนกิจกรรมอื่นใดที่มวลสมาชิกเห็นชอบ</p>
    <span>4. การปกครองตนเองและความเป็นอิสระ</span>
    <p>สหกรณ์เป็นองค์การที่พึ่งพาและปกครองตนเอง โดยการควบคุมของสมาชิก ในกรณีที่สหกรณ์จำต้องมีข้อตกลงหรือผูกพันกับองค์การอื่น ๆ 
        รวมถึงองค์การของรัฐ หรือต้องแสวงหาทุนจากองค์การภายนอก สหกรณ์ต้องกระทำภายใต้เงื่อนไขอันเป็นที่มั่นใจได้ว่า 
        มวลสมาชิกจะยังคงไว้ซึ่งอำนาจในการควบคุมตามแนวทางประชาธิปไตย และยังคงดำรงความเป็นอิสระของสหกรณ์</p>
	<span>5. การศึกษา การฝึกอบรม และข่าวสาร</span>
    <p>สหกรณ์พึงให้การศึกษา และการฝึกอบรมแก่มวลสมาชิก ผู้แทนจากการเลือกตั้ง ผู้จัดการและพนักงาน
         เพื่อบุคคลเหล่านั้นสามารถมีส่วนช่วยพัฒนา สหกรณ์ของตนได้อย่างมีประสิทธิผล และสามารถให้ข่าวสารแก่สาธารณชนโดยเฉพาะอย่างยิ่ง
         แก่เยาวชน และบรรดาผู้นำทางความคิดในเรื่องคุณลักษณะ และคุณประโยชน์ของสหกรณ์ได้</p>
	<span>6. การร่วมมือระหว่างสหกรณ์</span>
    <p>สหกรณ์สามารถให้บริการแก่สมาชิกได้อย่างมีประสิทธิผลสูงสุด และเสริมสร้างความเข้มแข็งให้แก่ขบวนการสหกรณ์ได้ 
        โดยการประสานความร่วมมือกันในระดับท้องถิ่น ระดับชาติ ระดับภูมิภาค และระดับนานาชาติ</p>
    <span>7. ความเอื้ออาทรต่อชุมชน</span>
    <p>สหกรณ์พึงดำเนินกิจกรรมเพื่อการพัฒนาที่ยั่งยืนของชุมชน ตามนโยบายที่มวลสมาชิกให้ความเห็นชอบ
        แต่ปัญหาที่เกิดขึ้นนั้น คือปัญหาในการดูแลการซื้อขายของสหกรณ์ และปัญหาการทำบัญชีการใช้เงิน การขายสิ้นค้า 
        และผลกำไรที่ได้นั้นตรวจสอบได้ยากเนื้องจาก การขายสิ้นค้าของสหกรณ์นั้นต้องเปลี่ยนคนค้าบ่อยครั้ง 
        ซึ้งทำให้การตรวจสอบได้ยากถ้าเกิดมีการทุจริตเกิดขึ้นมา อีกทั้งปัญหาของ covid 19 ในด้านความปลอดภัยในการซื้อสินค้าด้วย
        จากปัญหาดังกล่าวข้างต้นผู้ศึกษาจึงได้ พัฒนาระบบสหกรณ์ขึ้นซึ้งระบบสามารถที่จะทำการซื้อขายผ่านระบบของสหกรณ์ 
        ด้วยสามารถที่จะเลือกสินค้าที่ต้องการได้เลยทันทีโดยการยืนยันการซื้อและจ่ายเงินได้อย่างรวดเร็วและระบบเก็บข้อมูลของการซื้อขายทุกครั้ง</p>
</div>
