<div class="container signin">
    <div></div>
    <div class="row" id="div-in">
        <div class="col-12">
            <span>E-mail</span>
        </div>
        <div class="col-12">
            <input type="text" class="inputbar">
        </div>
        <div class="col-6">
            <span>Password</span>
        </div>
        <div class="col-6">
            <span>Confirm Password</span>
        </div>
        <div class="col-6">
            <input type="password" class="inputbar">
        </div>
        <div class="col-6">
            <input type="password" class="inputbar">
        </div>
        <div class="col-6">
            <span>FirstName</span>
        </div>
        <div class="col-6">
            <span>LastName</span>
        </div>
        <div class="col-6">
            <input type="text" class="inputbar">
        </div>
        <div class="col-6">
            <input type="text" class="inputbar">
        </div>
        <div class="col-12">
            <span>PhoneNumber</span>
        </div>
        <div class="col-12">
            <input type="text" class="inputbar">
        </div>
        <div class="col-12">
            <span>Address</span>
        </div>
        <div class="col-12">
            <input type="text" class="inputbar">
        </div>
    </div>
    <div class="row">
        <div id="div-btn-sign">
            <button id="btn-sign">Cencel</button>
            <button id="btn-sign">Sign In</button>
        </div>
    </div>
</div>