<div class="container-fluid" id="front">
    <div class="row">
        <div class="col-12">
            <h3>วิธีการชำระเงิน</h3>
        </div>
        <div class="col-12 radio-i">
            <div class="col-6">
                <input type="radio">
                <span> Credit Crad</span>
                <div class="col-12">
                    <div class="col-6">
                        <div><span>หมายเลขบัตร</span></div>
                        <input type="text">
                    </div>
                    <div class="col-6">
                        <div><span>ชื่อบัตร</span></div>
                        <input type="text">
                    </div>
                    <div class="col-6 ccv">
                        <div class="col-6"><span>วันที่บัตรหมดอายุ</span></div>
                        <div class="col-6"><span>CCV/VCC</span></div>
                    </div>
                    <div>
                        <input type="text">
                        <input type="text">
                    </div>
                </div>
                <div class="col-6">
                    <input type="radio">
                    <span> ชำระเงินปลายทาง</span>
                </div>
                <div data-toggle="modal" data-target="#myModal1">
                    <button>ยืนยัน</button>
                </div>
            </div>

            <div class="col-6">

            </div>
        </div>
        <div id="myModal1" class="modal" data-backdrop="false">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <h3>ใบเสร็จ</h3>
                        </div>
                        <div class="col-6 Ftext">
                            <span>สหกรณ์ของเรา</span>
                            <div><span>htt/www.xnxx</span></div>
                            <div><span>ติดต่อ</span><span>022161255</span></div>
                        </div>
                        <div class="col-6 decus">
                            <span>รายละเอียดลูกค้า</span>
                            <div><span>ชื่อ</span><span>User</span></div>
                            <div><span>ติดต่อ</span><span>098546621</span></div>
                            <div><span>ชำระผ่านทาง</span><span>ปลายทาง</span></div>
                        </div>
                        <div class="col-12 table-task">
                            <div class="col-4"><span>สินค้า</span></div>
                            <div class="col-4"><span>จำนวน</span></div>
                            <div class="col-4"><span>จำนวนเงิน</span></div>
                        </div>
                        <div class="col-12 table-task1">
                            <div class="col-4"><span>หีบจักรสานทำจากมือ</span></div>
                            <div class="col-4"><span>1</span></div>
                            <div class="col-4"><span>119</span></div>
                        </div>
                        <div class="col-12">
                            <div class="col-6" style="display: block;"></div>
                            <div class="col-6 de">
                                <div><span>ทั้งหมด</span><span>119.00</span></div>
                                <div><span>ส่วนลด</span><span>0.00</span></div>
                                <div><span>ค่าจัดส่ง</span><span>0.00</span></div>
                                <div><span>รวมราคาสุทธิ</span><span>119.00</span></div>
                            </div>
                            <div class="col-12 thank"><span>ขอบคุณที่ใช้บริการ</span></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
