<div class="container-fluid" id="header">
  <div class="col23">
    <img src="https://cdn.discordapp.com/attachments/748375075706634243/806454182969081886/logo.png" alt="Logo"
      id="img-logo">
  </div>
  <div class="col-lg-3 head">
    <h1>สหกรณ์ของเรา</h1>
  </div>
  <!-- <div class="col-2">
  </div> -->
</div>
<div class="container-fluid" id="navbar">
  <div class="topnav" id="myTopnav">
    <a routerLink="/home-component" routerLinkActive="active" class="active">หน้าแรก</a>
    <a routerLink="/shop-component" routerLinkActive="active">ร้านค้า</a>
    <a routerLink="/sellProducts-component" routerLinkActive="active">ลงขายสินค้า</a>
    <a routerLink="/about-component" routerLinkActive="active">Q&A</a>
  </div>
  <div class="myiconnav col-7">
    <div class="col-9">
    </div>
    <div class="col-1 ps"><img
        src="https://www.flaticon.com/svg/vstatic/svg/483/483356.svg?token=exp=1612430328~hmac=9856b6f3e2b6b5bda2f1281cba7e85d3"
        alt="search" class="icon"></div>
    <div class="col-1 ps"><img
        src="https://www.flaticon.com/svg/vstatic/svg/1170/1170678.svg?token=exp=1612430427~hmac=107fec4061f5c6c35baca521fb258736"
        alt="shopping-cart" class="shopping icon" routerLink="/shoppingCart-component">
    </div>
    <div class="col-1 ps"><img
        src="https://www.flaticon.com/svg/vstatic/svg/747/747376.svg?token=exp=1612430201~hmac=5c28801f390b27f008f03e68522ade22"
        alt="user" class="user icon">
    </div>
  </div>
</div>
<div>
  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="container">
          <div class="col-lg-12 modalsize">
            <img src="https://cdn.discordapp.com/attachments/748375075706634243/806454182969081886/logo.png" alt="Logo"
              id="img-logo">
            <h1 class="headM">สหกรณ์ของเรา</h1>
          </div>
          <div class="col-lg-12 inputN">
            <span class="pad">User</span>
            <input class="pad" type="text">
            <span class="pad">Password</span>
            <input class="pad" type="password">
            <button class="sum">Log In</button>
            <a href="#Signup" class="si">SignUp</a>
          </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>