<div class="container-fluid" id="header">
  <div class="col23">
    <img src="https://cdn.discordapp.com/attachments/748375075706634243/806454182969081886/logo.png" alt="Logo"
      id="img-logo">
  </div>
  <div class="col-lg-3 head">
    <h1>สหกรณ์ของเรา</h1>
  </div>
  <div class="col-2"><img
      src="https://www.flaticon.com/svg/vstatic/svg/833/833314.svg?token=exp=1612345575~hmac=95d993f7f9cc21835d11bca3ae898f78"
      alt="shopping-cart" class="shopping" routerLink="/shoppingCart-component"></div>
</div>
<div class="topnav" id="myTopnav">
  <a routerLink="/home-component" routerLinkActive="active" class="active">หน้าแรก</a>
  <a routerLink="/shop-component" routerLinkActive="active">ร้านค้า</a>
  <a routerLink="/sellProducts-component" routerLinkActive="active">ลงขายสินค้า</a>
  <a routerLink="/about-component" routerLinkActive="active">Q&A</a>
</div>
<router-outlet></router-outlet>