<!--div id="shopping"-->
    
    <header>
        <hr class="line-hr">
        ตะกร้าสินค้า
    </header>
    <section>
        <div class="Product-list" id="div-shopping-pro">
                <!--form cass = "Shopping-list" id="div-shopping-pro"-->
                    <div id="img">
                        <img src="https://cdn.discordapp.com/attachments/748375075706634243/806443249240637470/shop1.png"
                            alt="product" class="img-product">
                    </div>
                    <div  class="product-details">
                        <div><span>รองเท้าหนาพิเศษ</span></div>
                        <div><span>ขนาด</span><span>39</span></div>
                    </div>
                    <div class="col-2 col1" id="div-name">
                        <div><span>฿</span><span>229.00</span></div>
                        <div><span>จำนวน</span></div>
                    </div>
                    <div class="col-2 col1" id="div-checkbox">
                        <input type="checkbox" name="checkbox" id="shop-check">
                        <a>ลบ</a>
                    </div>
                <!--/form-->
            </div>
            <p></p>
            <div class="Product-list" id="div-shopping-pro">
                <!--form cass = "Shopping-list" id="div-shopping-pro"-->
                    <div id="img">
                        <img src="https://cdn.discordapp.com/attachments/748375075706634243/806443249240637470/shop1.png"
                            alt="product" class="img-product">
                    </div>
                    <div  class="product-details">
                        <div><span>รองเท้าหนาพิเศษ</span></div>
                        <div><span>ขนาด</span><span>39</span></div>
                    </div>
                    <div class="col-2 col1" id="div-name">
                        <div><span>฿</span><span>229.00</span></div>
                        <div><span>จำนวน</span></div>
                    </div>
                    <div class="col-2 col1" id="div-checkbox">
                        <input type="checkbox" name="checkbox" id="shop-check">
                        <a>ลบ</a>
                    </div>
                <!--/form-->
            </div>

    </section>
    <aside>
        <div id="div-shopping-pro">
            <!--form class="col-lg-3" id=""-->
                <div>
                    <h3>สรุปรายการสั่งซื้อ</h3>
                </div>
                <div><span>ยอดรวม (จำนวน)</span><span>฿</span><span>0.00</span></div>
                <div><span>ค่าจัดส่ง</span><span>฿</span><span>0.00</span></div>
                <div><span>ยอดรวมทั้งสิ้น</span><span>฿</span><span>0.00</span></div>
            <!--/form-->
        </div>
    </aside>
<!--/div-->