้<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!--div id="shopping"-->
    <header>
        <hr class="line-hr">
        ตะกร้าสินค้า
    </header>
    <section>
        <div *ngFor ="let product of product">
            <!--<div data-toggle="modal" data-target="#addToCart">-->
                <div class="Product-list" id="div-shopping-pro">
                    <div id="img">
                        <img src="{{product.image}}"
                                    alt="product" class="img-product">
                    </div>
                    <div  class="product-details">
                        <a>{{product.productName}}</a>
                        <a>{{product.storeName}}</a>
                    </div>
                    <div class="col-2 col1" id="div-name">
                        <div>
                            <span>฿</span>
                            <span>{{product.price}}</span>
                        </div>
                        <div>
                            <span>จำนวน</span>
                            <div class="">
                                <div class="net-vid-pieces-input">
                                    <div class="next-icon-bar">
                                        <button type="button" (click)="onclick_plus(box.value, product)">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                    <div class="">
                                        <span class="net-vid-pieces-input-boxtext">
                                            <input #box (keyup)="onKey(box.value, product)" [value]="piecess[(product.idProduct)-1]">
                                        </span>
                                    </div>
                                    <div class="next-icon-bar">
                                        <button type="button" (click)="onclick_minus(box.value, product)">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            <!--</div>-->
            
                <div class="col-2 col1" id="div-checkbox">
                    <div>
                        <input (change)="box_check($event, check, product)" [value]="check" type="checkbox"/>
                    </div>
                    <div class="test" (click)="deleteProduct(product)">
                        <span type="button">ลบ</span>
                    </div>
                </div>
            </div>
        </div>
        







    </section>
    <aside>
        <div class="div-shopping-sum">
            <div>
                <div class="div-shoping-sum-from-head">
                    <p>สรุปรายการสั่งซื้อ<p>
                </div>
                <div class="div-shoping-sum-from">
                    <div class="div-shoping-sum-from-detail">
                        <span>ยอดรวม (จำนวน)</span>
                        <div >
                            <span class="div-shoping-sum-from-detail-ro1">฿ {{total_price}}</span>
                        </div>
                    </div>
                        
                    <div><span>ค่าจัดส่ง</span>
                        <span class="div-shoping-sum-from-detail-ro2">฿ {{shipping_cost}}</span>
                    </div>
                    <div><span>ยอดรวมทั้งสิ้น</span>
                        <span class="div-shoping-sum-from-detail-ro3">฿ {{all_total_price}}</span>
                    </div>
                </div>
                <div>
                    <div type="button" class="box-buy-products">
                        <button>ชำระสินค้า</button>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</body>