<div class="container container-pic">
    <img src="C:\Users\ma10\OneDrive\เดสก์ท็อป\Angular\shop\shop\shop.jpg" alt="Norway" style="width:100%;">
    <div class="text-block">
        <h3>เครื่องจักรสานจากมือ</h3>
    </div>
</div>
<div class="container-fluid">
    <div class="col-lg-6 product" id="div-product1">
        <div class="col-lg-6">
            <img src="C:\Users\ma10\OneDrive\เดสก์ท็อป\Angular\shop\shop\shop1.png" alt="product" style="width:100%;">
        </div>
        <div class="col-lg-6 name-pro">
            <div class="col12">
                <span>หีบสานจากไม้ไผ่</span>
            </div>
            <div class="col12">
                <span>ขนาด</span>
                <span>10 x 20</span>
                <span>ซม.</span>
            </div>
            <div class="col12">
                <span>ราคา</span>
                <span>119</span>
                <span>บาท</span>
            </div>
        </div>
        <div class="col-lg-6">
            <img src="C:\Users\ma10\OneDrive\เดสก์ท็อป\Angular\shop\shop\shop1.png" alt="product" style="width:100%;">
        </div>
        <div class="col-lg-6 name-pro">
            <div class="col12" id="div-1">
                <span>หีบสานจากไม้ไผ่</span>
            </div>
            <div class="col12">
                <span>ขนาด</span>
                <span>10 x 20</span>
                <span>ซม.</span>
            </div>
            <div class="col12">
                <span>ราคา</span>
                <span>119</span>
                <span>บาท</span>
            </div>
        </div>
        
    </div>
    <div class="col-lg-6 pic-product" id="div-product2">
        <div class="col-lg-6">
            <img src="C:\Users\ma10\OneDrive\เดสก์ท็อป\Angular\shop\shop\shop1.png" alt="product" style="width:100%;">
        </div>
        <div class="col-lg-6 name-pro">
            <div class="col12">
                <span>หีบสานจากไม้ไผ่</span>
            </div>
            <div class="col12">
                <span>ขนาด</span>
                <span>10 x 20</span>
                <span>ซม.</span>
            </div>
            <div class="col12">
                <span>ราคา</span>
                <span>119</span>
                <span>บาท</span>
            </div>
        </div>
        <div class="col-lg-6">
            <img src="C:\Users\ma10\OneDrive\เดสก์ท็อป\Angular\shop\shop\shop1.png" alt="product" style="width:100%;">
        </div>
        <div class="col-lg-6 name-pro">
            <div class="col12">
                <span>หีบสานจากไม้ไผ่</span>
            </div>
            <div class="col12">
                <span>ขนาด</span>
                <span>10 x 20</span>
                <span>ซม.</span>
            </div>
            <div class="col12">
                <span>ราคา</span>
                <span>119</span>
                <span>บาท</span>
            </div>
        </div>
        
    </div>
   
</div>