.container-pic {
  padding-top: 1px;
  padding-left: 130px;
  padding-right: 60px;
  /* position: relative; */
  font-family: Arial;
  }

.container-img-from{
  /* background-color: black; */
  border: 1px;
  border-style: solid;
  border-color: rgb(86, 94, 93);
}

.container-flex-pan{
  padding: 10px;
  position:relative;
  height: 400px;
}

.container-flex-pan-img > img{
  text-align: center;
  height: 400px;
  width: 1285px;
}
  
.text-block > h3{
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: rgb(255, 255, 255);
    padding-left: 20px;
    padding-right: 20px;
    font-size: 40px;
} 

.hrad-from{
  padding-top: 20px;
}

.text-hrad{
  background-color: rgb(201, 168, 223);
  height: 35px;
}
.text-hrad > p{
  font-size: 18px;
  padding-top: 5px;
  padding-left: 20px;
  color: rgb(58, 14, 99);
}


.container-list-pro{
  display: grid;
  grid: 150px / auto auto;
}

.test{
  display: flex;
  padding: 10px;
}

.test2{

}

.img-pro > img{
  width: 200px;
  height: 120px;
}






.container-fluid{
      display: block;
      padding-top: 75px;
}

#div-product{
      display: flex
      
} 

.image{
  width: 300px;
}




.description{
  top: 30px;
  font-size: 50px;
}

/* .modal-backdrop {
  background-color: transparent;
} */

.btn1{
  left: 30px;
}
.btn2{
  left: 60.5px;
}
.btn-warning{
  font-size: 30px;
  width: 397px;
}
.btn-primary{
  background-color: #F2610D;
  border-color: #F2610D;
  font-size: 30px;
  width: 397px;
}
#priceModal{
  color: #F05A10;
  font-size: 60px;
}
.image2{
  width: 795px;
  height: 525px;
}

.modalImage{
  top: 30px;
  left: 30px;
}

.modal-header{
  border-bottom: 0;
}

.modal-content{
  top: 10%;
  left: 265px;
  width: 1445px;
  height: 772px;
  position: sticky;
  border: 3px solid rgba(250, 92, 0, 0.986); ;
}

.close{
  font-size: 2.5rem;
}

.addAmount{
  width: 50px;
}

  /*  ........................page-shop..................................... */