<div class="container container-pic">
    <img src="https://media.discordapp.net/attachments/748375075706634243/806443248540844032/shop.jpg" alt="Norway"
        style="width:100%;">
    <div class="text-block">
        <h3>เครื่องจักรสานจากมือ</h3>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            รายการสินค้า
            <div *ngFor="let product of products" [class.selected]="product === selectedProduct"
                (click)="onSelect(product)">
                <div class="row" data-toggle="modal" data-target="#addToCart">
                    <div class="col-8 col-sm-6">
                        <img src="{{product.image}}" class="image">
                    </div>
                    <div class="col-4 col-sm-6">

                        <span>{{product.productName}}</span><br>
                        <span>ขนาด {{product.size}} ซม.</span><br>
                        <span>ราคา {{product.price}} บาท</span><br>
                        <span>ชื่อร้าน {{product.storeName}}</span>
                    </div>
                </div><br>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="addToCart" class="modal" data-backdrop="false">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button><br>
        </div>
        <div class="modalBody">

            <div *ngIf="selectedProduct">
                <div class="row">
                    <div class="col-7 modalImage">
                        <img src="{{selectedProduct.image}}" class="image2">
                    </div>
                    <div class="col-5 description">
                        <span>{{selectedProduct.productName}}</span><br>
                        <span>ขนาด {{selectedProduct.size}} ซม.</span><br>
                        <span>ชื่อร้าน {{selectedProduct.storeName}}</span><br><br><br>
                        <h2 id="priceModal">&nbsp;&nbsp;฿ {{selectedProduct.price}} </h2>
                        &nbsp;&nbsp;<button (click)="decreaseAmount()">-</button><input class="addAmount" placeholder="{{amount}}"><button (click)="addAmount()">+</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modalFooter">
            <br><br><br>
            <div class="row">
                <div class="col-3 btn1">
                    <button type="button" class="btn btn-warning" routerLink="/shoppingCart-component"
                        data-backdrop="false">ซื้อเลย</button>
                </div>
                <div class="col-4 btn2">
                    <button type="button" class="btn btn-primary" routerLink="/shoppingCart-component"
                        data-backdrop="false">เพิ่มลงตะกร้า</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->



<!-- <div *ngIf="selectedProduct">

    <h2>{{selectedProduct.productName | uppercase}} Details</h2>
    <div><span>name: </span>{{selectedProduct.productName}}</div>
    <div>
        <label>price:
            <input [(ngModel)]="selectedProduct.price" placeholder="price" />
        </label>
    </div>

</div> -->