<div class="<!--container--> container-pic">
    <div class="container-img-from">
        <div class="container-flex-pan">
            <div class="container-flex-pan-img">
                <img src="https://media.discordapp.net/attachments/748375075706634243/806443248540844032/shop.jpg" alt="Norway">
            </div>
            <div class="text-block">
                <h3>เครื่องจักรสานจากมือ</h3>
            </div>
        </div>
        <div class="hrad-from">
            <div class="text-hrad">
                <p>รายการสินค้า</p>
            </div>
        </div>
        <div class="">
            <div class="">
                <div class="container-list-pro">
                    <div *ngFor="let product of products" [class.selected]="product === selectedProduct"
                        (click)="onSelect(product)">
                        <div data-toggle="modal" data-target="#addToCart">
                            <div class="test2">
                                <div class="test">
                                    <div class="img-pro">
                                        <img src="{{product.image}}" class="image">
                                    </div>
                                    <div class="col-4 col-sm-6">
                                        <span>{{product.productName}}</span><br>
                                        <span>ขนาด {{product.size}} ซม.</span><br>
                                        <span>ราคา {{product.price}} บาท</span><br>
                                        <span>ชื่อร้าน {{product.storeName}}</span>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <br>
    
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Modal -->
        <div class="modal fade" id="addToCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button><br><br> -->
                        <div *ngIf="selectedProduct">
    
                            <!-- <h2>{{selectedProduct.productName | uppercase}} Details</h2>
                            <div><span>name: </span>{{selectedProduct.productName}}</div>
                            <div>
                                <label>price:
                                    <input [(ngModel)]="selectedProduct.price" placeholder="price" />
                                </label>
                            </div> -->
                            <div class="row">
                                <div class="col-8">
                                    <img src="{{selectedProduct.image}}" class="image">
                                </div>
                                <div class="col-4">
                                    <span>{{selectedProduct.productName}}</span><br>
                                    <span>ขนาด {{selectedProduct.size}} ซม.</span><br>     
                                    <span>ชื่อร้าน {{selectedProduct.storeName}}</span><br><br>
                                    <h2 id="priceModal">฿ {{selectedProduct.price}} </h2><br>
                                </div>
                            </div>
                        </div>
    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" routerLink="/shoppingCart-component" data-backdrop="false">ซื้อเลย</button>
                        <button type="button" class="btn btn-primary" routerLink="/shoppingCart-component" data-backdrop="false">เพิ่มลงตะกร้า</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<!-- End Modal -->

<!-- <div *ngIf="selectedProduct">

    <h2>{{selectedProduct.productName | uppercase}} Details</h2>
    <div><span>name: </span>{{selectedProduct.productName}}</div>
    <div>
        <label>price:
            <input [(ngModel)]="selectedProduct.price" placeholder="price" />
        </label>
    </div>

</div> -->