#container-shopping{
    padding-top: 99px;
    border-top: 1px;
    border-top-color: black;
}
#div-shopping-pro{
    display: flex;
    border: black;
}
.col3{
    padding-left: 15px;
    padding-right: 15px; 
}
#div-name{
    display:inline-block;
}