
<div class="container sell">
    <div class="col-6">
        <div class="img-sell"></div>
    </div>
    <div class="col-6">
        <div>
            <div class="col-12 col-input">
                <div class="col-4 text-input"><span>ชื่อร้านสินค้า : </span></div>
                <input type="text"> 
            </div>
            <div class="col-12 col-input">
                <div class="col-4 text-input"><span>ชื่อสินค้า : </span></div>
                <input type="text">
            </div>
            <div class="col-12 col-input">
                <div class="col-4 text-input"><span>ประเภท : </span></div>
                <input type="text">
            </div>
            <div class="col-12 col-input">
                <div class="col-4 text-input"><span>จำนวน : </span></div>
                <input type="text">
            </div>
            <div class="col-12 col-input">
                <div class="col-4 input-task"><span>รายละเอียดสินค้า : </span></div>
                <input type="text">
            </div>
            <div class="col-12 btn-con">
                <button id="edit">แก้ไข</button>
                <button id="confrim">ยืนยัน</button>
            </div>
        </div>
    </div>
</div>
